<a href="https://colab.research.google.com/github/rohithreddy999/Loan_prediction/blob/main/car_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/ds.csv")

In [ ]:
df.head()

,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,CarPrice,...,ShipDate,ShipMode,Shipping,PostalCode,Sales,Quantity,Discount,CreditCardType,CreditCard,CustomerFeedback
0,1,542 Dayton Center,Bubbletube,871-57-6028,8893,Dodge,Ram 2500,Goldenrod,2007,521963.45,...,2019/03/14,Standard Class,Truck,99522,744796.41,1,0.83,diners-club-carte-blanche,30408016042565,Bad
1,2,0674 Springview Circle,Tagopia,337-64-4060,9444,Toyota,Tundra,Crimson,2010,672222.04,...,2019/03/06,Standard Class,Truck,56398,794773.17,1,0.79,jcb,3549221112237767,Good
2,3,70 Autumn Leaf Center,Zoomdog,218-19-1802,253,GMC,Savana 1500,Crimson,2011,504465.72,...,2019/01/20,Second Class,Air,60674,968244.90,1,0.28,jcb,3557159608180902,Okay
3,4,649 Corben Lane,Oozz,635-15-3112,1283,Volkswagen,Cabriolet,Fuscia,1990,646077.11,...,2019/03/16,First Class,Truck,32885,942213.82,2,0.76,jcb,3529909223663921,Very Bad
4,5,94 Namekagon Point,Kare,849-23-6788,8905,Mercury,Mariner,Teal,2009,699890.24,...,2019/01/29,Second Class,Air,48232,879519.57,1,0.50,china-unionpay,5602235978541517,Bad

In [ ]:
df.isnull().sum()

SupplierID                0
SupplierAddress           0
SupplierName              0
SupplierContactDetails    0
ProductID                 0
CarMaker                  0
CarModel                  0
CarColor                  0
CarModelYear              0
CarPrice                  0
CustomerID                0
CustomerName              0
Gender                    0
JobTitle                  0
PhoneNumber               0
EmailAddress              0
City                      0
Country                   0
CountryCode               0
State                     0
CustomerAddress           0
OrderDate                 0
OrderID                   0
ShipDate                  0
ShipMode                  0
Shipping                  0
PostalCode                0
Sales                     0
Quantity                  0
Discount                  0
CreditCardType            0
CreditCard                0
CustomerFeedback          0
dtype: int64

In [ ]:
df.drop(columns=["SupplierID" ,"SupplierAddress" ,"SupplierName"],axis=1,inplace=True)

In [ ]:
df.drop(columns=["CreditCard","CarModel","CarMaker","SupplierContactDetails","ProductID", "CustomerID","CustomerName","Gender","JobTitle","PhoneNumber","EmailAddress","City","CountryCode","CustomerAddress","OrderDate", "OrderID","ShipDate","PostalCode"],axis=1,inplace=True)

In [ ]:
df

,CarColor,CarModelYear,CarPrice,Country,State,ShipMode,Shipping,Sales,Quantity,Discount,CreditCardType,CustomerFeedback
0,Goldenrod,2007,521963.45,United States,Alaska,Standard Class,Truck,744796.41,1,0.83,diners-club-carte-blanche,Bad
1,Crimson,2010,672222.04,United States,Minnesota,Standard Class,Truck,794773.17,1,0.79,jcb,Good
2,Crimson,2011,504465.72,United States,Illinois,Second Class,Air,968244.90,1,0.28,jcb,Okay
3,Fuscia,1990,646077.11,United States,Florida,First Class,Truck,942213.82,2,0.76,jcb,Very Bad
4,Teal,2009,699890.24,United States,Michigan,Second Class,Air,879519.57,1,0.50,china-unionpay,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Fuscia,2004,718778.77,United States,Nebraska,Second Class,Truck,900610.31,2,0.59,maestro,Okay
996,Khaki,2006,689650.37,United States,Utah,Standard Class,Air,987645.58,1,0.33,jcb,Okay
997,Green,2012,525136.96,United States,Oklahoma,Second Class,Air,870962.70,2,0.25,diners-club-carte-blanche,Okay
998,Khaki,2006,719917.26,United States,District of Columbia,First Class,Air,778839.18,1,0.78,jcb,Very Bad
999,Goldenrod,1995,655522.91,United States,Utah,Standard Class,Truck,821678.46,1,0.89,visa,Very Bad

In [ ]:
df.isnull().sum()

CarColor            0
CarModelYear        0
CarPrice            0
Country             0
State               0
ShipMode            0
Shipping            0
Sales               0
Quantity            0
Discount            0
CreditCardType      0
CustomerFeedback    0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.CarColor=le.fit_transform(df.CarColor)
df.Country=le.fit_transform(df.Country)
df.State=le.fit_transform(df.State)
df.ShipMode=le.fit_transform(df.ShipMode)
df.Shipping=le.fit_transform(df.Shipping)
df.CreditCardType=le.fit_transform(df.CreditCardType)
df.CustomerFeedback=le.fit_transform(df.CustomerFeedback)

In [ ]:
df.head()

,CarColor,CarModelYear,CarPrice,Country,State,ShipMode,Shipping,Sales,Quantity,Discount,CreditCardType,CustomerFeedback
0,4,2007,521963.45,0,1,3,1,744796.41,1,0.83,3,0
1,2,2010,672222.04,0,23,3,1,794773.17,1,0.79,8,1
2,2,2011,504465.72,0,13,2,0,968244.90,1,0.28,8,2
3,3,1990,646077.11,0,9,0,1,942213.82,2,0.76,8,3
4,15,2009,699890.24,0,22,2,0,879519.57,1,0.50,2,0

In [ ]:
x=df.drop(columns="CarPrice",axis=1)
x.head()

,CarColor,CarModelYear,Country,State,ShipMode,Shipping,Sales,Quantity,Discount,CreditCardType,CustomerFeedback
0,4,2007,0,1,3,1,744796.41,1,0.83,3,0
1,2,2010,0,23,3,1,794773.17,1,0.79,8,1
2,2,2011,0,13,2,0,968244.90,1,0.28,8,2
3,3,1990,0,9,0,1,942213.82,2,0.76,8,3
4,15,2009,0,22,2,0,879519.57,1,0.50,2,0

In [ ]:
y=df[["CarPrice"]]
y[0:5]

    CarPrice
0  521963.45
1  672222.04
2  504465.72
3  646077.11
4  699890.24

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()
x_scaled=pd.DataFrame(scale.fit_transform(x),columns = x.columns)
y_scaled= pd.DataFrame(scale.fit_transform(y),columns = y.columns)

In [ ]:
x_scaled.head()

,CarColor,CarModelYear,Country,State,ShipMode,Shipping,Sales,Quantity,Discount,CreditCardType,CustomerFeedback
0,0.222222,0.900000,0.0,0.020833,1.000000,1.0,0.148748,0.0,0.892308,0.200000,0.00
1,0.111111,0.950000,0.0,0.479167,1.000000,1.0,0.315898,0.0,0.830769,0.533333,0.25
2,0.111111,0.966667,0.0,0.270833,0.666667,0.0,0.896082,0.0,0.046154,0.533333,0.50
3,0.166667,0.616667,0.0,0.187500,0.000000,1.0,0.809020,1.0,0.784615,0.533333,0.75
4,0.833333,0.933333,0.0,0.458333,0.666667,0.0,0.599336,0.0,0.384615,0.133333,0.00

In [ ]:
y.shape

(1000, 1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y_scaled,test_size=0.2,random_state=0)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((800, 11), (200, 11), (800, 1), (200, 1))

In [ ]:
x_test.head()

,CarColor,CarModelYear,Country,State,ShipMode,Shipping,Sales,Quantity,Discount,CreditCardType,CustomerFeedback
993,0.388889,0.766667,0.0,0.145833,0.000000,1.0,0.715305,0.0,0.261538,0.533333,1.00
859,0.555556,0.733333,0.0,0.833333,1.000000,0.0,0.987565,0.0,0.569231,0.266667,1.00
298,0.500000,0.983333,0.0,0.666667,0.333333,0.0,0.697154,1.0,0.123077,0.733333,0.25
553,0.555556,0.800000,0.0,0.041667,0.000000,1.0,0.480307,1.0,0.769231,0.666667,1.00
672,0.777778,0.583333,0.0,0.354167,0.000000,0.0,0.930383,1.0,0.969231,0.600000,0.75

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error
score=r2_score(y_pred,y_test)
score

-132.30378331125667

In [ ]:
mse = mean_squared_error(y_test, y_pred)
mse

0.08763477616266765

In [ ]:

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:

reg_model=Sequential()
reg_model.add(Dense(9,activation="relu"))
reg_model.add(Dense(128,activation="relu"))
reg_model.add(Dense(1,activation="linear"))

In [ ]:

reg_model.compile(optimizer="adam",loss="mse",metrics=["accuracy"])

In [ ]:

reg_model.fit(x_train,y_train,epochs=10,batch_size=5,validation_data=(x_test,y_test))

Epoch 1/10
160/160 [==============================] - 1s 3ms/step - loss: 0.1201 - accuracy: 0.0000e+00 - val_loss: 0.0911 - val_accuracy: 0.0000e+00
Epoch 2/10
160/160 [==============================] - 0s 3ms/step - loss: 0.0852 - accuracy: 0.0012 - val_loss: 0.0931 - val_accuracy: 0.0050
Epoch 3/10
160/160 [==============================] - 0s 2ms/step - loss: 0.0839 - accuracy: 0.0012 - val_loss: 0.0897 - val_accuracy: 0.0000e+00
Epoch 4/10
160/160 [==============================] - 0s 2ms/step - loss: 0.0828 - accuracy: 0.0012 - val_loss: 0.0889 - val_accuracy: 0.0000e+00
Epoch 5/10
160/160 [==============================] - 0s 2ms/step - loss: 0.0822 - accuracy: 0.0012 - val_loss: 0.0894 - val_accuracy: 0.0000e+00
Epoch 6/10
160/160 [==============================] - 1s 3ms/step - loss: 0.0810 - accuracy: 0.0012 - val_loss: 0.0883 - val_accuracy: 0.0000e+00
Epoch 7/10
160/160 [==============================] - 1s 4ms/step - loss: 0.0813 - accuracy: 0.0000e+00 - val_loss: 0.0904 - val_accuracy: 0.0050
Epoch 8/10
160/160 [==============================] - 0s 3ms/step - loss: 0.0802 - accuracy: 0.0012 - val_loss: 0.0894 - val_accuracy: 0.0000e+00
Epoch 9/10
160/160 [==============================] - 1s 3ms/step - loss: 0.0805 - accuracy: 0.0000e+00 - val_loss: 0.0889 - val_accuracy: 0.0000e+00
Epoch 10/10
160/160 [==============================] - 0s 3ms/step - loss: 0.0801 - accuracy: 0.0012 - val_loss: 0.0888 - val_accuracy: 0.0050

In [ ]:
model.predict([[0.222222,0.900000,0.0,0.020833,1.000000,1.0,0.148748,0.0,0.892308,0.200000,0.00]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[0.48664178]])